<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Receipes</h1>
    <% @recipes.each() do |recipe| %>
      <h2><%=recipe.name%></h2>
      <% recipe_link = "/recipes/#{recipe.id}" %>
      <!-- <p><a href="<%=recpie_link%>"></a></p> -->
    <% end %>

  </body>
</html>
